<firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"></firebase-ui>
<mat-form-field>
<mat-label>Select A Function</mat-label>
    <mat-select [(ngModel)]="functionSelection" (selectionChange)="showArgumentChoices()">
        <mat-option *ngFor="let func of functionsList" [value]="func.value">
                {{func.valueName}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field *ngFor="let sel of selectsList">
    <mat-label>{{sel.name}}</mat-label>
    <mat-select *ngIf="sel.type=='SELECT'" [(ngModel)]="sel.selected">
        <mat-option *ngFor="let opt of sel.options" [value]="opt.value">
            {{opt.name}}
        </mat-option>
    </mat-select>
    <input matInput *ngIf="sel.type!='SELECT'"  [(ngModel)]="sel.selected" placeholder="{{sel.name}}">
    <!-- <mat-hint>{{sel.notes}}</mat-hint> -->
</mat-form-field>

<br>
<div id="addFields" [innerHtml]="addFields"></div>
<br>
<button mat-button (click)="this.changeMode()">Update Mode</button>
<button mat-button (click)="logout()">Logout</button>
<button mat-button [routerLink]="['']">Back to main</button>